* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --lightBlue: #C7DFF7;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--offWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
footer{
  background-color: var(--offWhite);;
  text-align: center;
}

/* .btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
} */
.btn-primary{
  background-color: rgb(77, 67, 67);
  padding: 0.5rem 1.0rem;
  border: 3px solid var(--primaryColor);
  color: white;
  text-decoration: none;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem 1rem 2rem;
  background: var(--offWhite);
  z-index: 1;
  margin: 0rem 0rem;
  /* padding: 0.5rem 0; */

}

.nav-center{
  float: left;
}

.nav-header {

  display: flex;
  justify-content: space-between;

}
.nav-btn{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-search-btn{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.logo{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.logo-icon{
  font-size: 2.5rem;
  color:  rgb(138, 157, 207);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  text-align: right;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;

}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);

}
.nav-links a:hover {
  color: var(--primaryColor);
}
.show-nav {
  height: auto;
}
.logo{
  list-style-type: none;
  float:left;
  padding-left: 0;
  margin-left: 0;   
}
.logo-nav{
  display: none;
}
 
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .logo{ 
    display:none;
  }
  .logo-nav{
    display: block;
     
  }
   
  .nav-center {
    /* max-width: 1170px; */
    margin: 0 auto;
    /* display: flex; */

  }
  .nav-links {
    height: auto;
    display: flex;
    /* margin-left: 4rem; */
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}


/* nav for login and register */
.nav-log{
  float: right;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}
.nav-log-link{
  display: flex;
  /* text-decoration: none; */
}

.nav-search-reg{
  /* display:inline-block; */
  margin: 0 2em;
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
  list-style-type: none;

}

.nav-search-reg a{
  text-decoration: none;
  color:var(--mainBlack);
}
 
@media screen and (max-width: 768px){
  .nav-search-reg{
    margin: 0 1em;
  }

}
 
/* End of nav for login and register */
/* end of navbar */


/* Hero */
.defaultHero,
.travelsHero,
.aboutHero,
.loginHero {
  min-height: calc(80vh - 66px);
  background: url("./images/defaultBcgHome.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;

}
.travelsHero {
  background-image: url("./images/defaultBcgSearch.jpg");
  /* min-height: 60vh; */
}
.aboutHero {
  background: url("./images/defaultBcgAbout.jpg") center/cover no-repeat;
}
.loginHero {
  background: url("./images/defaultBcgLogin.jpg") center/cover no-repeat;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured travel */

.featured-travels {
  padding: 5rem 0;

}
.featured-travels-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-travels-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-travels-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured travels */
/* travel */
.travel {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.travel:hover {
box-shadow: 0 0 10px #ccc;

}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

/* .room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
} */

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
/* .img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
} */
.travel-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of travel  */
/* single travel*/

.single-travel {
  padding: 5rem 0 0 0;

}
.single-travel-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-travel-images img {
  width: 100%;
  display: block;
}
.single-travel-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}

.info h6 {
  font-weight: 300;
}
.travel-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.travel-extras h6 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    /* padding-left: 3rem; */
  }
}

.rowC{
  background:#f0f8ff;
}
/* end of single room*/
/* roomlist */
.travelslist {
  padding: 5rem 0;
}
.travelslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .travelslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .travelslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  /* letter-spacing: var(--mainSpacing); */
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 1rem;
  margin-left: 0rem;
}
.single-extra input {
  display: inline-block;
  font-size: 1rem;
  margin-left: 2rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of travel fitler*/


/* login form */
.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
 
.login-form{
  /* text-align: center;   */
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 3px solid var(--darkGrey);
  padding: 30px 0;
}
.login-center{
 /* text-align: center; */
  font-size: 18px;
  /* display: inline-block;   */
  padding: 60px;
}
.login-submit, .register-btn {
    
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}
.or{
  text-align: center;
   
}
@media screen and (max-width: 768px){
  .login-form{
    width: 90%;
    padding: 30px 0;
  }


}


   

/* end of login form */